# Ignore node_modules folder
node_modules
**/node_modules

# Ignore development cache
.yarn/cache

# Ignore development build artifacts
/out

# Ignore package manager lock files
yarn.lock
package-lock.json